html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
}

body { margin: 0; }
body main {
    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

@media (max-width: 600px) {
    body main {
        font-size: 0.9em;
        padding: 1em;
    }

    h1 {
        font-size: 1.8em;
    }
}

@media print {
    body main {
        background-color: transparent;
        color: black;
        font-size: 12pt;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}

p {
    margin: 1em 0;
}

a {
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.4em;
}

h5,
h6 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-weight: normal;
}

ol,
ul {
    padding-left: 1.7em;
    margin-top: 1em;
}

li>ol,
li>ul {
    margin-top: 0;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
}

pre {
    margin: 1em 0;
    overflow: auto;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}

.sourceCode {
    background-color: transparent;
    overflow: visible;
}

hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}

table caption {
    margin-bottom: 0.75em;
}

tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}

th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
    margin-bottom: 4em;
    text-align: center;
}

#TOC li {
    list-style: none;
}

#TOC ul {
    padding-left: 1.3em;
}

#TOC>ul {
    padding-left: 0;
}

#TOC a:not(:hover) {
    text-decoration: none;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

div.columns {
    display: flex;
    gap: min(4vw, 1.5em);
}

div.column {
    flex: auto;
    overflow-x: auto;
}

div.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list {
    list-style: none;
}

ul.task-list li input[type="checkbox"] {
    width: 0.8em;
    margin: 0 0.8em 0.2em -1.6em;
    vertical-align: middle;
}

.display.math {
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}







footer {
	font-size:.8125em;
	position:relative;
	font-style:normal;
    text-align: justify;
    color: #ffffff;
	background-color: #2c4a63;
    line-height: 1.2em;
}

footer .text-footer-ontologie-rdafr {
	width: 895px;
	padding-top: 10px;
    padding-left: 20px;
}

footer .text-lastmodif {
	font-size: 70%;
	font-style: italic;
	text-align: left;
}


footer .logo-abes-bnf {
	float: right;
	display: inline-flex;
    text-align: right;
    margin-top: 20px;
	margin-right: 20px;
}
footer .logo-abes {
	margin-right: 20px;
}

footer .legal-footer-ontologie-rdafr {
	background-color:#04304e;
    padding: 15px 15px 25px 0;
    font-size: 12px;
    line-height: 1;
}
footer .legal-footer-ontologie-rdafr ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .legal-footer-ontologie-rdafr ul {
    float: right;
    text-align: right;
    padding-left: 15px;
}

footer .legal-footer-ontologie-rdafr li {
    float: left;
}
footer .legal-footer-ontologie-rdafr a { color: #fff; }
footer .legal-footer-ontologie-rdafr a:hover { color:#ee7900 }
footer .legal-footer-ontologie-rdafr li:after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}
footer .legal-footer-ontologie-rdafr li:last-child:after {
    content: "";
    margin-left: 0;
    margin-right: 0;
}


